/*body geral*/

.max-height-overflow-auto {
    max-height: 100vh;
    overflow: auto;
}

.texto-color {
    color: #AAAAAA;
}

.texto-cadastro {
    color: #C3C3C3;
}


/*Estilos padroes*/

.a-i-c {
    align-items: center;
}


/*Background padrao*/

.bg-rosa {
    background-color: #FA0069;
}


/*Cores escrita*/

.grey {
    color: #777;
}

.rosa {
    color: #FA0069;
}


/* tamanho font escrita*/

.f-w {
    font-weight: 500;
}


/* end tamanho font escrita*/


/*Imagens gerais*/

.imagem-logo {
    height: 80px;
    margin-left: -15px;
    opacity: 0.04;
}


/*Fim imagens gerais*/


/*letras diferentes*/

.cor-diferente {
    color: #C9C9C9;
}


/*router-links*/

.links-router:hover {
    text-decoration: none;
    color: #fff;
}

.links-router {
    text-decoration: none;
    color: #fff;
}


/*Campo de busca*/

.menu-options .search-box {
    padding: 0 12px;
    position: relative;
}

.menu-options .search-box .back-drop {
    display: none;
}

.menu-options .search-box input {
    border: none;
    background-color: #F3F3F3;
    padding: 0 50px;
    color: #fff;
    height: 40px;
    transition: all ease-in-out 0.3s;
}

.menu-options .search-box .btn {
    position: absolute;
    z-index: 100;
    left: 12px;
    color: #9E9E9E;
    font-size: 18px;
}

.seach-campo {
    color: #9E9E9E;
}

.menu-options .search-box.active input {
    background: #F3F3F3;
    padding: 0 30px 0 50px;
    width: 220px;
}

.search-results {
    position: absolute;
    top: 64px;
    right: 58px;
    width: 400px;
    max-height: 50vh;
    list-style: none;
    padding: 0;
    z-index: 3000;
    overflow-y: auto;
    display: none;
}

.search-results .search-item {
    overflow: hidden;
    margin-bottom: 2px;
    font-size: 12px;
}

.search-results .search-item a {
    padding: 20px;
    display: block;
    text-decoration: none;
}

.search-results .search-item a:hover {
    background: rgba(0, 82, 105, 0.9);
}

.search-results .search-item a:active {
    background: #002a35;
}

.search-results .category {
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.search-results .category span {
    font-size: 10px;
}


/*Fim campo busca*/


/*Scroll bar*/

::-webkit-scrollbar-track {
    background-color: #fff;
}

::-webkit-scrollbar {
    width: 5px;
    /*background: red;*/
}

::-webkit-scrollbar-thumb {
    /*background: #ececec;
    border-radius: 10px;*/
    background: #686868;
}


/*fim scroll bar*/


/*botoes cores*/


/*fim botao cor*/


/*Stilos container para pagina principal*/


/*fim do estilo*/


/* header*/

.style-header {
    background-color: #333;
    min-height: 100vh;
}

.altura {
    margin: 20px 0;
}

.style-home {
    margin: 0 20px;
    width: 100%;
    transition: all 0.3s;
}


/*fim header*/


/*Icones*/

.tamanho-icones {
    height: 25px;
    width: 25px;
    margin: 0 10px;
}


/* teste css sidebar*/


/*
    DEMO STYLE
*/

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 18vw;
    max-width: 18vw;
    min-height: 100vh;
    background: #333;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #333;
}

#sidebar ul.components {
    margin-top: 50px;
    padding: 20px 0;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    margin: 5px 0;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #fff;
    background: linear-gradient(to left, #1C1C1C 98%, #FA0069 2%);
}

#sidebar ul li.active>a,
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #333;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.article,
a.article:hover {
    background: #333 !important;
    color: #fff !important;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}


/*Modal notificação*/

.modal::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
}

.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 80px;
}

.modal_container {
    position: relative;
    background: linear-gradient(to right, transparent 250px, #fff 250px);
    z-index: 1;
    display: grid;
    align-items: end;
    grid-gap: 50px;
    padding: 0 50px 50px 0;
    animation: fadeIn 0.3s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate3d(50px, 0, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.modal_fechar {
    border-radius: 50%;
    border: 2px solid #000;
    width: 40px;
    height: 40px;
    position: absolute;
    top: -10px;
    right: -10px;
    font-size: 1rem;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1), 0 4px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}