@import '../bootstrap-theming/index'; // Bootstrap includes

#login{
  background-color: $black-bg-login-mondrian;
}
.login-page {
  display: flex;
  background-color: $black-bg-login-mondrian;
  flex-basis: 100%;
  height: 100vh;
  overflow-y: hidden;
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
  width: 100%;

  .images-carousel {
    height: 100vh;
    object-fit: cover;
  }

  .auth-side {
    padding-right: 60px;
    padding-left: 75px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: -10%;

    .brand-logo {
      margin-top: 125px;
      width: 13vw;
    }

    .user-photo {
      justify-content: center;
      margin-top: 65px;
    }

    // .b-avatar-img {
    //   img {
    //     @include custom-border(7px, solid, rgba(255, 255, 255, 0.01));
    //   }
    // }

    .auth-form {
      margin-top: 45px;
      .form-control {
        background-color: transparent;
        height: 45px;
        border-color: $black-mondrian;
        border-width: 1px;
      }
      .input-group-text {
        height: 45px;
      }
      .stay-conected {
        color: $grey-mondrian;
        font-size: 14px;
      }
      .btn {
        height: 45px;
      }
    }
    
    .change-password {
      color: $grey-mondrian;
      font-size: 13px;
    }
    .auth-footer {
      font-size: 12px;
      position:absolute;
      bottom: 1rem;
      color: $grey-mondrian;
    }
  }
}

#carousel-1___BV_indicator_1_{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 1.3%;
}
#carousel-1___BV_indicator_2_{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 1.3%;

}
#carousel-1___BV_indicator_3_{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 1.3%;

}
