
.rocket {
  position: absolute;
  bottom: -2%;
  width: 25px;
  animation-name: animateRocket;
  animation-duration: 7s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;    
}

@keyframes animateRocket {
0% {
  bottom: 0%
}
25% {
  bottom: 25%
}
50% {
  bottom: 50%
}
75% {
  bottom: 75%
}
100% {
  bottom: 100%
}
}
